<%- include('layout-header') -%>
<%- include('layout-menu') -%>

<div class="container">
    <div class="jumbotron">
        <h1 class="m-3" style="text-align: center">ADMIN DASHBOARD</h1>
        <hr class="my-4 bg-light">
        <a href="#places" class="btn btn-secondary">Places</a>
        <a href="#users" class="btn btn-secondary">Users</a>
        <a href="/new-place" class="btn btn-success">New place</a>
    </div>
</div>

<div class="album py-5">
    <div class="container">
        <div class="container text-center">
            <h2 id="places">PLACES</h2>
        </div>
        <% places.forEach(place => { %>
        <div class="row" style="align-items: stretch; justify-content: center; margin-bottom: 40px">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="3"><%= place.name %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">Id</td>
                    <td><%= place.id %></td>
                    <td rowspan="5" width="10">
                        <a class="btn btn-primary btn-sm m-1" role="button" href="/place/<%= place._id %>" style="max-height: 36px"><span class="material-icons">visibility</span></a>
                        <a class="btn btn-primary btn-sm m-1" role="button" href="/admin/place/<%= place._id %>" style="max-height: 36px"><span class="material-icons">create</span></a>
                        <form class="m-1" style="display: inline-block" action="/admin/place/<%= place._id %>/delete" method="post"><button type="submit" class="btn btn-danger btn-sm" role="button" style="max-height: 36px"><span class="material-icons">delete</span></button></form>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Name</td>
                    <td><%= place.name %></td>
                </tr>
                <tr>
                    <td scope="row">Location</td>
                    <td><%= place.location %></td>
                </tr>
                <tr>
                    <td scope="row">Author</td>
                    <td><%= place._author.name %></td>
                </tr>
                <tr>
                    <td scope="row">Website</td>
                    <td><a href="<%= place.website %>"><%= place.website %></a></td>
                </tr>
                <tr class="table-primary">
                    <td colspan="3">REVIEWS OF THIS PLACE (<%= place.reviews.length %>)</td>
                </tr>
                <% place.reviews.forEach(review => { %>
                <tr>
                    <td scope="row"><%= review._owner.name %></td>
                    <td style="max-width: 300px"><%= review.text %></td>
                    <td>
                        <a class="btn btn-primary btn-sm m-1" role="button" href="/place/<%= place._id %>#review-<%= review._id %>" style="max-height: 36px"><span class="material-icons">visibility</span></a>
                        <form class="m-1" style="display: inline-block" action="/admin/review/<%= review._id %>/delete" method="post"><button type="submit" class="btn btn-danger btn-sm" role="button" style="max-height: 36px"><span class="material-icons">delete</span></button></form>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <% }); %>
        <div class="row m-5 text-center">
            <a href="/new-place" class="btn btn-success" style="margin: 0 auto">REGISTER NEW PLACE</a>
        </div>
        <div class="container text-center">
            <h2 id="users">USERS</h2>
        </div>
        <div class="row" style="align-items: stretch; justify-content: center;">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Authorities</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(user => { %>
                <tr>
                    <td scope="row"><%= user.name %></td>
                    <td scope="row"><%= user.admin ? "ADMIN" : "USER" %></td>
                    <td scope="row" class="text-right">
                        <% if (user.admin) { %>
                        Revoke: <form class="m-1" style="display: inline-block" action="/admin/user/<%= user._id %>/revoke" method="post"><button type="submit" class="btn btn-danger btn-sm" role="button" style="max-height: 36px"><span class="material-icons">remove_circle</span></button></form>
                        <% } else { %>
                        Grant: <form class="m-1" style="display: inline-block" action="/admin/user/<%= user._id %>/grant" method="post"><button type="submit" class="btn btn-warning btn-sm" role="button" style="max-height: 36px"><span class="material-icons">verified_user</span></button></form>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('layout-footer') -%>