<%- include('layout-header') -%>
<%- include('layout-menu') -%>

<div class="container">
    <div class="jumbotron">
        <h1 class="m-3" style="text-align: center">REGISTER PLACE</h1>
    </div>
</div>

<div class="container p-5">
    <% if (typeof errors !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <% errors.forEach(err => { %><li><%= err %></li><% }) %>
    </div>
    <% } %>
    <form action="/new-place" method="post">
        <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Place name</label>
            <div class="col-8">
                <input id="name" name="name" type="text" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.name %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="location" class="col-4 col-form-label">Location</label>
            <div class="col-8">
                <input id="location" name="location" type="text" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.location %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="longitude" class="col-4 col-form-label">GPS</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Longitude</div>
                    </div>
                    <input id="longitude" name="longitude" type="text" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.longitude %>">
                    <div class="input-group-append">
                        <div class="input-group-text">°</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="latitude" class="col-4 col-form-label"></label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Latitude</div>
                    </div>
                    <input id="latitude" name="latitude" type="text" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.latitude %>">
                    <div class="input-group-append">
                        <div class="input-group-text">°</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="website" class="col-4 col-form-label">Website</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="material-icons">language</span></div>
                    </div>
                    <input id="website" name="website" type="text" required="required" class="form-control" value="<%= (typeof place === 'undefined') ? '' : place.website %>">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="photo1" class="col-4 col-form-label">First photo url</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="material-icons">add_photo_alternate</span></div>
                    </div>
                    <input id="photo1" name="photo1" type="text" required="required" class="form-control" value="<%= (typeof place === 'undefined') ? '' : place.photo1 %>">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="photo2" class="col-4 col-form-label">Second photo url</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="material-icons">add_photo_alternate</span></div>
                    </div>
                    <input id="photo2" name="photo2" type="text" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.photo2 %>">
                </div>
                <span id="photo2HelpBlock" class="form-text text-muted">An image about the environment of the place</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-4 col-form-label">Place type</label>
            <div class="col-8">
                <select id="type" name="type" required="required" class="custom-select">
                    <option value="accommodation" <%= (typeof place === 'undefined' || place.type === 'accommodation') ? " selected" : "" %>>Accommodation</option>
                    <option value="pub" <%= (typeof place !== 'undefined' && place.type === 'pub') ? " selected" : "" %>>Pub</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4">Price category</label>
            <div class="col-8">
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="priceCategory" id="price_0" type="radio" required="required" class="custom-control-input" value="1" <%= (typeof place === 'undefined') ? '' : ((place.priceCategory == 1) ? " checked=\"checked\"" : "") %>>
                    <label for="price_0" class="custom-control-label">$</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="priceCategory" id="price_1" type="radio" required="required" class="custom-control-input" value="2" <%=  (typeof place === 'undefined') ? '' : ((place.priceCategory == 2) ? " checked=\"checked\"" : "") %>>
                    <label for="price_1" class="custom-control-label">$$</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="priceCategory" id="price_2" type="radio" required="required" class="custom-control-input" value="3" <%=  (typeof place === 'undefined') ? '' : ((place.priceCategory == 3) ? " checked=\"checked\"" : "") %>>
                    <label for="price_2" class="custom-control-label">$$$</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="priceCategory" id="price_3" type="radio" required="required" class="custom-control-input" value="4" <%=  (typeof place === 'undefined') ? '' : ((place.priceCategory == 4) ? " checked=\"checked\"" : "") %>>
                    <label for="price_3" class="custom-control-label">$$$$</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="priceCategory" id="price_4" type="radio" required="required" class="custom-control-input" value="5" <%=  (typeof place === 'undefined') ? '' : ((place.priceCategory == 5) ? " checked=\"checked\"" : "") %>>
                    <label for="price_4" class="custom-control-label">$$$$$</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastVisited" class="col-4 col-form-label">Last visited</label>
            <div class="col-8">
                <input id="lastVisited" name="lastVisited" type="date" class="form-control" required="required" value="<%= (typeof place === 'undefined') ? '' : place.lastVisited %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="labels" class="col-4 col-form-label">Tags</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="material-icons">label</span></div>
                    </div>
                    <input id="labels" name="labels" type="text" class="form-control" required="required" placeholder="wifi, bathroom" value="<%= (typeof place === 'undefined') ? '' : place.labels %>">
                </div>
                <span id="tagsHelpBlock" class="form-text text-muted">Separate tags with comma (,)</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-4 col-form-label">Description</label>
            <div class="col-8">
                <div class="input-group">
                    <textarea id="description" name="description" type="text" class="form-control" required="required"><%= (typeof place === 'undefined') ? '' : place.description %></textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">CREATE</button>
            </div>
        </div>
    </form>
</div>

<%- include('layout-footer') -%>